:root {
  --dark-blue: #0D1B2A;
  --blue: #2F4659;
  --white: #E0E1DD;
  --ocean: #415A77;
  --light-blue: #778DA9;
  --lighter-blue: #b3cff3;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.App .navibar {
  background-color: var(--ocean)!important;
}

.home, .about {
  height: 100vh;
}

.home {
  background-color: var(--dark-blue);
  position: relative;
}

.about {
  background-color: var(--blue);
}

.home-title, .about-title {
  color: var(--white);
}

.home-title {
  font-size: 3rem;
}

.thinking-svg {
  width: 20rem;
  transition-duration: 0.4s;
}

.home-desc {
  color: var(--white);
  font-style: italic;
  font-size: 1rem;
}

.home-title-col {
  text-align: center;
  white-space: nowrap;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  transition-duration: 0.4s;
}

.home-contact-button, .home-about-button {
  width: 15rem;
  height: 5rem;
  border-radius: 90px;
  border: 2px solid var(--light-blue);
  font-size: 1.5rem;
  transition-duration: 0.4s;
}

.home-contact-button {
  background-color: var(--light-blue);
}

.home-contact-button:hover {
  background-color: var(--lighter-blue);
}

.home-about-button {
  background-color: var(--dark-blue);
  color: var(--white);
}

.home-about-button:hover {
  background-color: var(--light-blue);
  color: black;
}

.home-blob {
  color: var(--light-blue);
  width: 20rem;
  transition-duration: 0.4s;
}

a, a:hover, a:focus, a:active {
  text-decoration: none!important;
  color: inherit!important;
}

.home-parallax {
  position: absolute;
  z-index: 1;
  transition-duration: 0.4s;

}

.square-s {
  width: 25%;
  transform: rotate(90deg);
}

.square-m {
  width: 50%;
}

.square-l {
  width: 75%;
  transform: rotate(270deg);
}

#square1 {
  left: 20%;
  top: 25%;
}

#square2 {
  left: 80%;
  top: 40%;
}

#square3 {
  left: 15%;
  top: 40%;
}

#square4 {
  display: none;
}

#square5 {
  display: none;
}

#square6 {
  display: none;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotating-backwards /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes rotating-backwards {
  from {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.rotating-s {
  -webkit-animation: rotating 3s linear infinite;
  -moz-animation: rotating 3s linear infinite;
  -ms-animation: rotating 3s linear infinite;
  -o-animation: rotating 3s linear infinite;
  animation: rotating 3s linear infinite;
}

.rotating-m {
  -webkit-animation: rotating-backwards 4s linear infinite;
  -moz-animation: rotating-backwards 4s linear infinite;
  -ms-animation: rotating-backwards 4s linear infinite;
  -o-animation: rotating-backwards 4s linear infinite;
  animation: rotating-backwards 4s linear infinite;
}

.rotating-l {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite;
}
/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) {
  .home-title {
    font-size: 4rem;
  }
  
  .thinking-svg {
    width: 26rem;
  }

  .home-desc {
    font-size: 1.3rem;
  }

  .home-contact-button, .home-about-button {
    width: 20rem;
    height: 5rem;
    font-size: 1.5rem;
  }

  .home-blob {
    width: 25rem;
  }

  #square1 {
    left: 20%;
    top: 25%;
  }
  
  #square2 {
    left: 80%;
    top: 40%;
  }
  
  #square3 {
    left: 15%;
    top: 40%;
  }
  
  #square4 {
    display: none;
  }
  
  #square5 {
    display: none;
  }
  
  #square6 {
    display: none;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .home-title-col {
    text-align: left;
  }

  .home-title {
    font-size: 3.5rem;
  }
  
  .thinking-svg {
    width: 26rem;
  }

  .home-desc {
    font-size: 1rem;
  }

  .home-contact-button, .home-about-button {
    width: 8rem;
    height: 3rem;
    font-size: 1rem;
  }

  .home-blob {
    width: 20rem;
  }

  #square1 {
    left: 14%;
    top: 25%;
  }
  
  #square2 {
    left: 37%;
    top: 27%;
  }
  
  #square3 {
    left: 78%;
    top: 27%;
  }
  
  #square4 {
    display: block;
    left: 49%;
    top: 69%;
  }
  
  #square5 {
    display: block;
    left: 89%;
    top: 73%;
  }
  
  #square6 {
    display: block;
    left: 16%;
    top: 77%;
  }
}

/* // Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .home-title {
    font-size: 4.5rem;
  }
  
  .thinking-svg {
    width: 30rem;
    height: 20rem;
  }

  .home-desc {
    font-size: 1.3rem;
  }

  .home-contact-button, .home-about-button {
    width: 12rem;
    height: 5rem;
    font-size: 1.5rem;
  }

  .home-blob {
    width: 30rem;
  }

  #square1 {
    left: 14%;
    top: 25%;
  }
  
  #square2 {
    left: 37%;
    top: 27%;
  }
  
  #square3 {
    left: 78%;
    top: 27%;
  }
  
  #square4 {
    left: 49%;
    top: 69%;
  }
  
  #square5 {
    left: 89%;
    top: 73%;
  }
  
  #square6 {
    left: 16%;
    top: 77%;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .home-title {
    font-size: 5.5rem;
  }
  
  .thinking-svg {
    width: 36rem;
  }

  .home-desc {
    font-size: 1.7rem;
  }

  .home-contact-button, .home-about-button {
    width: 15rem;
    height: 5rem;
    font-size: 1.8rem;
  }

  .home-blob {
    width: 35rem;
  }

  #square1 {
    left: 14%;
    top: 25%;
  }
  
  #square2 {
    left: 37%;
    top: 27%;
  }
  
  #square3 {
    left: 78%;
    top: 27%;
  }
  
  #square4 {
    left: 49%;
    top: 69%;
  }
  
  #square5 {
    left: 82%;
    top: 73%;
  }
  
  #square6 {
    left: 16%;
    top: 77%;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
  .home-title {
    font-size: 6rem;
  }
  
  .thinking-svg {
    width: 40rem;
  }

  .home-desc {
    font-size: 2rem;
  }

  .home-contact-button, .home-about-button {
    width: 17rem;
    height: 5rem;
    font-size: 2rem;
  }

  .home-blob {
    color: var(--light-blue);
    width: 40rem;
  }

  #square1 {
    left: 14%;
    top: 25%;
  }
  
  #square2 {
    left: 37%;
    top: 27%;
  }
  
  #square3 {
    left: 78%;
    top: 20%;
  }
  
  #square4 {
    left: 49%;
    top: 69%;
  }
  
  #square5 {
    left: 82%;
    top: 73%;
  }
  
  #square6 {
    left: 16%;
    top: 77%;
  }
}
